# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos gerados pelo processamento do PDF
pdf_extraidos/

.env